exact_solver/fdp_networks2/
exact_solver/build/
heuristic/build/
heuristic_new/build/
heuristic/.cache/
heuristic_new/.cache/
*.o
*.obj
*.exe
*.out
*.so
*.dylib
*.dll
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
**/build/
**/.cache/
